.dialog-title {
  text-align: center;
  font-size: 2rem;
  color: #000;
  padding: 20px;
  border-radius: 8px;
}

.dialog-content {
  background: #fff;
  border-radius: 12px;
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.project-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info {
  margin-bottom: 20px;
  text-align: center;
}

.project-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: #333;
}

.project-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-bottom: 20px;
}

.project-video {
  display: inline-block;
  margin-top: 20px;
}

.project-images {
  margin-top: 20px;
  width: 100%;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.image-item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image-item:hover {
  transform: scale(1.05);
}

.project-image {
  width: 100%;
  border-radius: 8px;
  max-height: 200px;
  object-fit: cover;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
}

button {
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  text-transform: uppercase;
}

.preserve-lines {
  white-space: pre-line;
  direction: ltr;
  text-align: left;
}

