<h1 mat-dialog-title class="dialog-title">Project Details</h1>
<mat-dialog-content class="dialog-content">
  <div class="project-details">
    <div class="project-info">
      <h2 class="project-title">{{ data.projectTitle }}</h2>
      <div class="preserve-lines"> {{ data.description }}</div>
      <a class="project-video" *ngIf="data.demoVideoUrl" (click)="openVideoDialog(data.demoVideoUrl)">
        <button mat-raised-button color="primary" class="video-btn">
          Watch Demo Video
        </button>
      </a>
    </div>

    <div class="project-images">
      <h3>Project Images</h3>
      <div class="image-gallery">
        <div *ngFor="let image of data.projectImages" class="image-item">
          <img [src]="image.imageUrl" (click)="openImageDialog(image.imageUrl)" alt="Image Preview"
            class="project-image thumb" />
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button (click)="onClose()" class="bg-danger text-light">Close</button>
</mat-dialog-actions>