<form [formGroup]="form">
    <div mat-dialog-content>
        <h1 mat-dialog-title>Reset Password</h1>
        <p mat-dialog-title class="text-muted">Please Complete The Form</p>

        <mat-form-field class="w-100" appearance="fill">
            <mat-label>Enter New Password</mat-label>
            <input matInput formControlName="password" placeholder="Please enter your new password" required />
        </mat-form-field>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSubmit()">Reset</button>
    </div>
</form>