.card_container {
    display: grid;
    row-gap: 3.5rem;
}

.card_article {
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
    border-radius: 25px;

    &:hover .card_data {
        animation: show-data 1s forwards;
        opacity: 1;
        transition: opacity .3s;
    }

    &:hover {
        animation: remove-overflow 2s forwards;
    }

    &:not(:hover) {
        animation: show-overflow 2s forwards;
    }

    &:not(:hover) .card_data {
        animation: remove-data 2s forwards;
    }

    img {
        width: 100%;

    }
}

.card_img {
    width: 328px;
    border-radius: 1.5rem;
}

.card_data {
    width: 280px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.card_description {
    display: block;
    font-size: 13px;
    margin-bottom: .25rem;
}

.card_title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: .75rem;
}

.card_button {
    font-size: 13px;
    font-weight: 500;
    border: 0;
    outline: none;
    background: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.card_img {
    height: 400px;
    width: auto;
    object-fit: cover;
    max-width: 100%;
}

.card_preview-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .card_data {
        width: 250px;
        padding: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .card_container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}

@media screen and (min-width: 1120px) {
    .card_container {
        grid-template-columns: repeat(3, 1fr);
    }

    .container {
        height: 100vh;
    }

    .card_img {
        width: 348px;
    }

    .card_data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}