<section class="container" id="projects">
    <h1 class="section-title text-center wow fadeInUp">Our Works</h1>

    <mat-form-field appearance="fill" class="wow fadeInUp">
        <mat-label>Filter Projects...</mat-label>
        <input matInput [(ngModel)]="filterValue" (input)="filterProjects()"
            placeholder="Search by name, category, or description">
    </mat-form-field>

    <div class="project-container wow fadeInUp">
        <div *ngFor="let project of filteredProjects" class="project-card">
            <img [src]="project.imageUrl" alt="{{ project.name }}">
            <div class="project-content">
                <h3>{{ project.name }}</h3>
                <p class="category">{{ project.category }}</p>
                <p class="description">{{ project.description }}</p>
                <a href="#" class="project-link">View Details</a>
            </div>
        </div>

    </div>

    <mat-paginator class="wow fadeInUp" [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage - 1"
        (page)="pageChanged($event)">
    </mat-paginator>
</section>