<div class="container-fluid my-6 mt-0" id="home">
    <div class="container h-100 ">
        <div class="row g-5 h-100 align-items-center home-data">
            <div class="col-lg-6 py-6 pb-0 pt-lg-0">
                <h3 class="hometitle mb-3">We'r</h3>
                <h1 class="display-3 mb-3"><img class="logo" src="img/logo.png" alt=""></h1>
                <h2 class="typed-text-output d-inline"></h2>
                <div class="typed-text d-none">Software Development, Web Applications, Mobile Applications, ERP Systems,
                    MVP Systems, Online Platforms</div>
                <div class="d-flex align-items-center pt-5">
                    <a href="#contact" class="btn btn-primary py-3 px-4 me-5"
                        style="background: linear-gradient(to right, #0dcaf0,#20c997); border: 0;">Contact us</a>
                    <button type="button" class="btn-play" data-bs-toggle="modal"
                        data-src="https://youtu.be/BWIwnBVUE5M?si=W--N8un1lU_jJvs4" (click)="openVideoDialog()">
                        <span></span>
                    </button>
                    <h5 class="ms-4 mb-0 d-none d-sm-block">Play Video</h5>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid imgHeader" style="border-radius: 20%;" src="https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMjBiMnJqM3hlNnVzM2c3Y2libGtpc3hldjY2bm9zZHlnMjRleGljdSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qgQUggAC3Pfv687qPC/giphy.gif" alt="">
            </div>
        </div>
    </div>
</div>