<section id="ourClients">

    <h1 class="section-title text-center">Partners of Success</h1>

    <div class="carousel">
        <div class="group">
            <div class="card"><img src="img/c1.png" alt=""></div>
            <div class="card"><img src="img/c2.png" alt=""></div>
            <div class="card"><img src="img/c3.png" alt=""></div>
            <div class="card"><img src="img/c4.png" alt=""></div>
            <div class="card"><img src="img/c5.png" alt=""></div>
            <div class="card"><img src="img/c6.png" alt=""></div>
            <div class="card"><img src="img/c7.png" alt=""></div>
            <div class="card"><img src="img/c8.png" alt=""></div>
        </div>
        <div aria-hidden class="group">
            <div class="card"><img src="img/c1.png" alt=""></div>
            <div class="card"><img src="img/c2.png" alt=""></div>
            <div class="card"><img src="img/c3.png" alt=""></div>
            <div class="card"><img src="img/c4.png" alt=""></div>
            <div class="card"><img src="img/c5.png" alt=""></div>
            <div class="card"><img src="img/c6.png" alt=""></div>
            <div class="card"><img src="img/c7.png" alt=""></div>
            <div class="card"><img src="img/c8.png" alt=""></div>
        </div>
    </div>

</section>