<nav class="navbar navbar-expand-lg bg-white navbar-light fixed-top shadow py-lg-0 px-4 px-lg-5 wow fadeIn"
    data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="text-primary fw-bold m-0 active"> <a href="#home"><img class="logo" style="width: 120px;"
                    src="img/logo.png" alt=""></a>
        </h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between py-4 py-lg-0" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            <a href="#about" class=" nav-link ">About</a>
            <a href="#service" class=" nav-link">Services</a>
            <a href="#skills" class=" nav-link">Technologies</a>
            <a href="#projects" class=" nav-link">Our Works</a>
            <!-- <a class=" nav-link" *ngIf="token && token !== ''">Users</a> -->
        </div>
        <a href="index.html" class="navbar-brand mx-5 d-none d-lg-block">
            <h1 class="text-primary fw-bold m-0 active"> <a href="#home"><img class="logo" src="img/logo.png"
                alt=""></a></h1>
            </a>
            <div class="navbar-nav me-auto py-0">
                <!-- <a class=" nav-link" *ngIf="token && token !== ''">Visitors</a> -->
                <a href="#ourClients" class=" nav-link">Our Clients</a>
                <a href="#Blogs" class=" nav-link">Blog & News</a>
                <a href="#testimonials" class=" nav-link">Testimonial</a>
                <a href="#contact" class=" nav-link">Contact</a>
                <button class="btn btn-outline-danger" (click)="logout()" *ngIf="token && token !== ''">Logout</button>
        </div>
    </div>
</nav>
<!-- Navbar End -->


<!-- Header Start -->
<app-header></app-header>
<!-- Header End -->

<!-- Video Modal Start -->
<div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Youtube Video</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                        allow="autoplay"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Video Modal End -->

<!-- About Start -->
<app-about></app-about>
<!-- About End -->

<!-- Services Start -->
<app-services></app-services>
<!-- Services End -->

<!-- Expertise Start -->
<app-tech></app-tech>
<!-- Expertise End -->

<!-- Projects Start -->
<app-projects></app-projects>
<!-- Projects End -->

<!-- Clients Start -->
<app-our-clients></app-our-clients>
<!-- Clients End -->

<!-- Blogs Start -->
<app-blogs></app-blogs>
<!-- Blogs End -->

<!-- Team Start -->
<app-team></app-team>
<!-- Team End -->

<!-- Testimonial Start -->
<app-testimonial></app-testimonial>
<!-- Testimonial End -->

<!-- Contact Start -->
<app-contact></app-contact>
<!-- Contact End -->

<!-- footer Start -->
<footer class="nc-footer">
    <div class="nc-footer-container">
        <div class="footer-col">
            <h2 class="logo">N<span>HC</span></h2>
            <p class="about">
                Nile Hash Code — building modern Web & Mobile Application.
                creative UX, real results.
            </p>
            <div class="socials">
                <a href="https://github.com/NaderTarekk" target="_blank" aria-label="GitHub">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
                <a href="mailto:nader.tarekk.dev@gmail.com" aria-label="Email">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </div>
        </div>

        <div class="footer-col">
            <h3>Contact Information</h3>
            <ul>
                <li><a><i class="fa-solid fa-location-dot"></i> Riyadh, Saudi Arabia</a></li>
                <li><a href="mailto:khaled.ahmedsabry@yahoo.com"><i class="fa-solid fa-envelope"></i> {{email}}</a></li>
                <li><a href="https://wa.me/966501347581"><i class="fa-solid fa-mobile-screen"></i> +966 501347581</a>
                </li>
                <li><a href="https://wa.me/201116770933"><i class="fa-solid fa-mobile-screen"></i> +20 1553687911</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 Nile Hash Code (NHC). All rights reserved.</p>
    </div>
</footer>

<!-- footer End -->

<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

<!-- WhatsApp -->
<a href="https://wa.me/966501347581" target="_blank" class="whatsapp-float">
    <i class="fa-brands fa-whatsapp"></i>
</a>