<div class="container-xxl pb-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title text-center wow fadeInUp">Let's Work Together</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="mb-2">Our offices:</p>
                <h3 class="fw-bold">Riyadh, Saudi Arabia</h3>
                <hr class="w-100">
                <p class="mb-2">Call us:</p>
                <h3 class="fw-bold">+966 501347581</h3>
                <h3 class="fw-bold">+20 1553687911</h3>
                <hr class="w-100">
                <p class="mb-2">Mail us:</p>
                <h3 class="fw-bold">{{email}}</h3>
                <!-- <hr class="w-100">
                <p class="mb-2">Follow us:</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                </div> -->
            </div>
            <div class="col-lg-7 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <p class="mb-4">Please complete the form to contact us</p>
                <form [formGroup]="form" (submit)="onSubmit()">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" formControlName="name"
                                    placeholder="Please Enter Your Name">
                                <label for="name">Please Enter Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" formControlName="email"
                                    placeholder="Please Enter Your Email">
                                <label for="email">Please Enter Your Email</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="subject" formControlName="subject"
                                    placeholder="Subject">
                                <label for="subject">Subject</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here"
                                    formControlName="message" id="message" style="height: 100px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>