<section class="wrapper" id="team" style="padding-top: 150px;">

    <h1 class="section-title text-center wow fadeInUp">Owners </h1>

    <div class="container d-flex px-5">
        <button *ngIf="token != null" mat-raised-button class="mb-3 p-3 btn btn-primary "
            (click)="openCreateTeamMemberDialog()">Add New Member</button>
    </div>


    <div class="card_Container">

        <div class="card" *ngFor="let member of members">

            <div class="imbBx">
                <img src="{{member.photoUrl}}" alt="">
            </div>

            <div class="content">
                <div class="contentBx">
                    <h3>{{member.firstName}} {{ member.lastName}}<br>
                        <!-- <span>{{member.jobTitle}}</span> -->
                    </h3>
                </div>

                <button *ngIf="token != null" class="btn btn-warning p-1 mx-2"
                    (click)="openUpdateTeamMemberDialog(member)">update</button>
                <button *ngIf="token != null" class="btn btn-danger my-3 p-1"
                    (click)="openDeleteTeamMemberDialog(member)">delete</button>
            </div>

        </div>


    </div>

</section>