<form [formGroup]="form">
    <div mat-dialog-content>
        <h1 mat-dialog-title>Create New Testimonial</h1>
        <p mat-dialog-title class="text-muted">Please Complete The Form</p>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Client Name</mat-label>
            <input matInput formControlName="clientName" placeholder="Please enter client name" required />
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Comment</mat-label>
            <input matInput formControlName="comment" placeholder="Please enter the comment" required />
        </mat-form-field>

        <div *ngIf="form.invalid && form.touched" class="form-errors text-danger">
            <div *ngIf="formControls['clientName'].invalid && formControls['clientName'].touched">Client name is required.
            </div>
            <div *ngIf="formControls['comment'].invalid && formControls['comment'].touched">Comment is
                required.
            </div>
        </div>
    </div>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button (click)="onSubmit()" [disabled]="form.invalid">Create</button>
    </div>
</form>